body {
  background: var(--black);
}

/* Header */

.header-h1 {
  color: var(--white);
}

/* Middle */

.middle-a {
  color: var(--blue);
}

.middle-h3 {
  color: var(--white);
}

.cat {
  padding-top: 20px;
  width: 9%;
}

/* Footer */

footer {
  color: var(--white);
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  margin-top: 19rem;
  flex-wrap: wrap;
}
