* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  background: rgb(18, 15, 36);
  color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.container #counter {
  background: #eee;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}
